{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% include 'about2.html' %}
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-md-offset-1">
                <div class="row">  
                    <div class="arrow">
                        <span></span>
                        <span></span>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'skills.html' %}
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-offset-1">
            <div class="row">  
                <div class="arrow">
                    <span></span>
                    <span></span>                   
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% include 'projects2.html' %}
{% include 'testimony.html' %}			
{% endblock %}